* {
  box-cizing: border-box;
}
body {
  background: yellow;
}
.sign-in-form {
  background: red;
  color: aqua;
  font-size: 30px;
}
.base-form {
  background: red;
}
h1 {
  color: grey;
}
#testElement {
  color: magenta;
  font-size: 50px;
}
.testElement {
  color: magenta;
  font-size: 50px;
}
